<h1>Prestamos</h1>
<p>
  <input type="text" [(ngModel)]="monto" />

  <select [(ngModel)]="estado">
    <option value="Aprobado">Aprobado</option>
    <option value="Pendiente">Pendiente</option>
    <option value="Rechazado">Rechazado</option>
  </select>

  <button (click)="addPrestamo()">Agregar</button>
</p>

@for (prestamo of prestamosList; track prestamo.id; let indice = $index) {

  <p>
    {{prestamo.id}} -
    ${{prestamo.monto}} -
    {{prestamo.estado}}

    <button (click)="deletePrestamo(indice)">
      Eliminar
    </button>
  </p>

}