
<app-cuenta [nombreCliente]="nombreCliente"></app-cuenta>
<app-transacciones (mensajeEnviado)="recivirmensaje($event)" ></app-transacciones>
{{mensajeRecivido}}
<!--
<h1>Mi nombre es {{nombre}}</h1>
<h2>Tengo {{edad}} años</h2>
<strong>{{ocupacion}}</strong>
<h2>Mi direccion es {{direccion}}</h2>
<em>Mi telefono es {{telefono}}</em>
<br/>
<br/>
<button (click)="cambiarEdad()">Cambiar edad</button>
<br/>
<br/>
<button (click)="cambiarDireccion()">Cambiar direccion</button>
<br/>
<br/>
@if(mostrar_cuenta==true){
   <button (click)="mostarCuenta(false)">Ocultar cuenta</button> 
}@else {
    <button (click)="mostarCuenta(true)">Mostar cuenta</button> 
}
@if(mostrar_cuenta==true){
    <app-cuenta></app-cuenta>
}

<app-prestamos></app-prestamos>
<app-transacciones></app-transacciones>
-->